.w-100{
    width:41%!important;
    max-height: 800px;
}
.carousel-inner img {
    margin: auto;
  }
.carousel-control-prev-icon{
    margin-left:30%;
}
.carousel-control-next-icon{
    margin-right:30%;
}
.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: black;
}
.carousel-control-prev-icon:after
{
  content: '<';
  font-size: 55px;
  color: black;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  outline: black;
  background-size: 100%, 100%;
  background-image: none;
}